{% if doc.published %}
	<div style="margin-bottom: 30px; max-width: 600px" class="with-border clickable">
		<a href={{ doc.route }}>
			<h3>{{ doc.name }}</h3>
			<p>
				<span class="label"> Chapter Head : 
				{% if chapter_head %}
					{% set head_doc = frappe.get_doc('Member', chapter_head) %}
					{{ head_doc.full_name }}
				{% else %}
					Not Assigned
				{% endif %}
				</span>
				<span class="label">
					{% if members %}
						{% set index = [] %}
						{% for member in members %}
							{% if member.enabled == 1 %}
								{% set __ = index.append(1) %}
							{% endif %}
						{% endfor %}
						Members: {{ index|length }}
					{% else %}
						Members: 0
					{% endif %}
					</span>
				<!-- Assignment of value to global variable not working in jinja -->
			</p>
			<p>{{ html2text(doc.introduction) | truncate (200) }}</p>
		</a>
	</div>
{% endif %}
