{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<p>{{ introduction }}</p>
{% if meetup_embed_html %}
	{{ meetup_embed_html }}
{% endif %}
<h3>Member Details</h3>

{% if members  %}
	<table class="table" style="max-width: 600px;">
		{% set index = [1] %}
		{% for user in members %}
			{% if user.enabled == 1 %}
				<tr>
					<td>
						<div style="margin-bottom: 30px; max-width: 600px" class="with-border">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
             <div class="pull-left">
								<b>{{ index|length }}. {{ frappe.db.get_value('User', user.user, 'full_name') }}</b></div>
							</div>
								<div class="pull-right">
								{% if user.website_url %}
									<a href="{{ user.website_url }}">{{ user.website_url | truncate (50) or '' }}</a>
								{% endif %}
							</div>
							<div class="clearfix"></div>
							</div>
							<br><br>
							<div class="col-lg-12">
							{% if user.introduction %}
								{{ user.introduction }}
							{% endif %}
							</div>
						</div>
					</div>
					</td>
				</tr>
				{% set __ = index.append(1) %}
			{% endif %}
		{% endfor %}
	</table>
{% else %}
	<p>No member yet.</p>
{% endif %}

<h3>Chapter Head</h3>
<div style="margin-bottom: 30px; max-width: 600px" class="with-border">

<table class="table table-bordered small" style="max-width: 600px;">
	{% set doc = frappe.get_doc('Member',chapter_head) %}
	<tr>
		<td style='width: 15%'>Name</td>
		<td><b>{{ doc.member_name }}<b></td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ frappe.db.get_value('User', doc.email, 'email') or '' }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>{{ frappe.db.get_value('User', doc.email, 'phone') or '' }}</td>
	</tr>
</table>
</div>

{% if address  %}
<h3>Address</h3>
<div style="margin-bottom: 30px; max-width: 600px" class="with-border">
<p>{{ address or ''}}</p>
</div>
{% endif %}

<p style="margin: 20px 0 30px;"><a href="/verenigingen/join-chapter?name={{ name }}" class='btn btn-primary'>Join this Chapter</a></p>
<p style="margin: 20px 0 30px;"><a href="/verenigingen/leave-chapter?name={{ name }}" class=''>Leave this Chapter</a></p>

{% if board_members %}
<h3>Chapter Board</h3>
<div style="margin-bottom: 30px; max-width: 600px" class="with-border">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Role</th>
                <th>Name</th>
                <th>Since</th>
            </tr>
        </thead>
        <tbody>
            {% for board_member in board_members %}
                <tr>
                    <td>{{ board_member.role }}</td>
                    <td>{{ board_member.member_name }}</td>
                    <td>{{ frappe.format_date(board_member.from_date) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if is_board_member %}
<div class="board-member-actions">
    <h4>Board Member Actions</h4>
    <p>You are currently serving as {{ board_role }} for this chapter.</p>
    
    <div class="btn-group">
        <a href="/app/member?primary_chapter={{ name }}" class="btn btn-default">
            View Chapter Members
        </a>
        
        {% if frappe.utils.has_permission("Chapter", doc=name, ptype="write") %}
        <a href="/app/chapter/{{ name }}" class="btn btn-primary">
            Manage Chapter
        </a>
        {% endif %}
    </div>
</div>
{% endif %}	

{% endblock %}			
